/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* -------------- */
/* Reset */
/* -------------- */

/* Box Sizing */
*,
*::before,
*::after {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Reset MArgings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/* Body Setup */
body {
    line-height: 1.5;
    min-height: 100vh;
    font-size: 24px;
}

/*  Images */
img,
picture {
    max-width: 100%;
    display: block;
}

/*  Forms */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for choice */
@media (prefers-reduced-motion: reduce) {
    *,
    *::after,
    *::before{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 00.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* --------------------- */
/* Utility Classes */
/* --------------------- */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: no-wrap;
    border: 0;
}
